@page "/buttontest"



<h3>@title</h3>


<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            @* Import.razora using ile component klasörü tanıtıldıl *@

            <CustomEditButtonComponent Caption="ShowMessage" OnClick="@changeTitle" />


            <CustomEditButtonComponent Caption="Edit Caption" OnClick="@showConfirmation" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />

        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }


    private string title = "";

    private async Task changeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Kayıt Silindi",3000);

        //ModalManager Eklendi gerek yok

        //ModalParameters parameters = new ModalParameters();
        //parameters.Add("Message", "En büyük Fener");

        //Modal.Show<ShowMessagePopupComponent>("Counter Popup Page",parameters);
    }

    async Task showConfirmation()
    {
        var result=await ModalManager.ConfirmationAsync("Confirmation", "Silinmesini onaylıyor musunuz?");

        if (result)
        {
            title = "yes e tıklandı";
        }
        else
        {
            title = "no ya tıklandı";
        }
    }

}
