@page "/buttontest"


 <h3>@title</h3>


<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            @* Import.razora using ile component klasörü tanıtıldıl *@

            <CustomEditButtonComponent OnClick="changeTitle" />


            <CustomEditButtonComponent Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />

        </div>
    </div>
</div>  

@code {

    private string title = "";

    private void changeTitle()
    {
        title="New Title";
    }

}
